<div class="container-fluid p-b-3">
  <div class="row">
    <div class="col-xs-12">
    </div><!-- end of .col-xs-12 -->

    <div class="col-xs-12 col-md-8 col-lg-9">
      <div ng-if="blog.alert" class="alert" ng-class="blog.alert.success ? 'alert-success' : 'alert-danger'">
        {{ blog.alert.message }}
      </div>

      <div class="text-xs-center" ng-if="blog.entries.length <= 0">
        <h3>Blogs list is empty</h3>
        <button ng-if="auth.currentUser" ui-sref="app.post" class="btn btn-primary m-t-1">Create one now</button>
        <span ng-if="!auth.currentUser">Please <a ui-sref="app.login">login</a> to post</span>
      </div>
      <article ng-if="blog.viewMode === false" class="blog-container card m-b-3 b-r-0" ng-repeat="entry in blog.entries track by $index">
        <header class="card-header p-a-1 b-r-0">
          <h3 class="blog-header-title truncate truncate-1 m-b-0" ng-bind="entry.title"></h3>
        </header>
        <hr class="m-b-0 m-t-0">
        <section class="blog-content truncate truncate-5 p-l-1 p-r-1 p-t-1" ng-bind="entry.content"></section>
        <a class="btn btn-info m-a-2 pull-xs-right" ui-sref="app.view({id: entry.id})">
          Continue Reading &nbsp;&rarr;
        </a>
        <div class="clearfix"></div>
      </article>

      <article ng-if="blog.viewMode === true">
        <div ng-if="!blog.editMode" class="container jumbotron">
          <header class="p-y-2">
            <h1 ng-bind="blog.entry.title" class="pull-xs-left display-3 font-weight-bold m-b-1"></h1>
          </header>
          <small ng-if="auth.currentUser" class="pull-xs-right">
            <a ng-click="blog.editMode = true" class="btn btn-success" href="#"><i class="ion-edit"></i>&nbsp; Edit</a>
            <a ng-click="blog.deleteEntry()" class="btn btn-danger" href="#"><i class="ion-trash-b"></i>&nbsp; Delete</a>
          </small>

          <div class="clearfix"></div>
          <hr>

          <pre class="blog-content text-xs-center lead p-x-2 p-y-2" ng-bind="blog.entry.content"></pre>
        </div>
        <div ng-if="blog.editMode" class="container p-x-2">
          <form ng-submit="blog.editEntry(blog.entry)" class="form-inline">
            <div class="form-group">
              <h4>Title</h4>
              <input class="form-control form-control-lg" type="text" ng-model="blog.entry.title">
            </div>
          </form>
          <form ng-submit="blog.editEntry(blog.entry)" class="p-y-2">
            <div class="form-group">
              <h4>Content</h4>
              <textarea ng-model="blog.entry.content" class="form-control" rows="10"></textarea>
            </div>
            <div class="text-xs-right form-group">
              <button class="btn btn-success" type="submit">Save</button>
              <button ng-click="blog.editMode = false" class="btn btn-default" type="button">Cancel</button>
            </div>
          </form>
        </div>
      </article>

    </div><!-- end of .col-xs-12.col-sm-9 -->

    <div class="col-xs-12 col-md-4 col-lg-3">
      <div class="card b-r-0">
        <div class="card-header b-r-0 p-a-1">
          <h3 class="text-xs-center m-b-0">About the Author</h3>
        </div>
        <div class="card-block">
          <img class="img-circle center-block img-fluid" ng-src="http://placehold.it/150/e8117f/ffffff" alt="">
          <p class="text-xs-center m-t-1 m-b-0">John Doe</p>
          <p class="text-xs-center">
            <small>Senior Fullstack Developer</small>
          </p>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div> <!-- end of card -->
      <div class="card b-r-0">
        <div class="card-header b-r-0 p-a-1">
          <h3 class="text-xs-center m-b-0">Archive</h3>
        </div>
        <div class="card-block">
          <div class="block" ng-if="blog.entries.length <= 0">
            <h5>Blogs list is empty</h5>
          </div>
          <div ng-repeat="entry in blog.entries" class="truncate truncate-1">
            <a ui-sref="app.view({id: entry.id})">
              {{ entry.title }}
            </a>
          </div>
        </div>
      </div> <!-- end of card -->
    </div> <!-- end of col-sm-3-->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
